<html>
    <head>
    <title>Forgot password</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/change.css') }}">
    </head>
    <body >
        <form action="/remove" method="post">
            <div>
                <label>Enter Username to be Deleted:</label><br/>
                <input type="name"  name="user" required><br/>
                <br>
                <button type="submit">Submit</button><br/>
            </div>
        </form>
    </body>
</html>